#users {
  .showcase {
    background: url('/background/background-6.png') no-repeat center/cover;
    padding: 10rem 0 5rem 0;
  }

  .motus {
    background: $light-gray;
    padding: 5rem 0;
    color: $dark-blue;
  }

  .applications {
    color: $dark-blue;
    padding: 5rem 0;
  }
}
