#application-ecosystem {
  .showcase {
    background: url('/background/background-2.png') center/cover no-repeat;
    padding: 10rem 0 5rem 0;

    &-image {
      width: 80%;
      margin: 3rem auto 0 auto;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  .features {
    padding: 5rem 0;
    color: $dark-blue;
    background: white;
  }
}
