.application-ecosystem {
  .showcase {
    background: $dark-blue;
    padding: 10rem 0 5rem 0;

    &-image {
      width: 80%;
      margin: 3rem auto 0 auto;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    .features {
      background: $dark-blue;
    }
  }
}
