.application-ecosystem {
  .showcase {
    background: $dark-blue;
    padding: 10rem 0 5rem 0;

    &-image {
      width: 80%;
      margin: 3rem auto 0 auto;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    .features {
      background: $dark-blue;

      &-list {
        position: relative;

        &::after {
          position: absolute;
          width: 2px;
          height: 100%;
          background: $purple;
          left: calc(50% - 2px);
          top: 0;
          content: '';
        }

        &-item-left {
          display: block;
          margin-bottom: 2rem;
          position: relative;
          width: 50%;
          padding-right: 50px;

          &::after {
            position: absolute;
            height: 2px;
            width: 30px;
            background: $purple;
            top: calc(50% - 2px);
            right: 1px;
            content: '';
          }
        }

        &-item-right {
          @extend .features-list-item-left;

          margin-left: auto;
          padding-right: 0px;
          padding-left: 50px;

          &::after {
            left: -1px;
          }
        }
      }
    }
  }
}
