#cv2x {
  .showcase {
    background: url('/background/background-4.png') no-repeat center/cover;
    padding: 10rem 0 5rem 0;
    position: relative;

    .container {
      position: relative;
      z-index: 2;
    }
  }
}
