#mobility {
  .showcase {
    background: url('/background/background-3.png') center/cover no-repeat;

    padding: 10rem 0;
    text-align: justify;
    text-align-last: center;

    .container {
      max-width: 500px;
    }
  }

  .softwarization {
    padding: 5rem 0;
    color: $dark-blue;
    background-color: $light-gray;
  }

  .aspects {
    padding: 5rem 0;
    color: $dark-blue;
  }
}
