.soarchain {
  .showcase {
    background: $dark-blue;
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;

    &::after {
      width: 30%;
      max-width: 600px;
      height: 50%;
      position: absolute;
      left: 7%;
      top: 12%;
      background: url('/pages/solutions/soarchain/showcase-graphics.png') no-repeat;
      background-position: top left;
      background-size: contain;
      content: '';
      z-index: 1;

      @include media-breakpoint-down(md) {
        width: 75%;
        max-width: 100%;
        height: 100%;
        background-position: center;
        margin: 0 auto;
      }
    }
    &::before {
      width: 30%;
      max-width: 600px;
      height: 50%;
      position: absolute;
      right: 7%;
      top: 45%;
      background: url('/pages/solutions/soarchain/showcase-graphics-2.png') no-repeat;
      background-position: top right;
      background-size: contain;
      content: '';
      z-index: 2;

      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        background: rgba($color: #000000, $alpha: 0.8) center/cover;
      }
    }

    &-content {
      width: 60%;
      z-index: 5;
      position: relative;

      &-right {
        margin-left: auto;
      }

      &-left {
        margin-top: 20%;
        margin-right: auto;
      }

      @include media-breakpoint-down(md) {
        width: 100%;

        &-left {
          margin-top: 0;
        }
      }
    }
  }
}
