#home {
  .showcase {
    padding-top: 10rem;
    background: url('/background/background.jpg') no-repeat;
    background-position: center;

    &-ul {
      background: url('/ul-style.png') no-repeat;
      background-position: center left;
      background-size: contain;
      list-style: none;
      padding-top: 1.5rem;
      width: 70%;
      margin: auto;

      li {
        margin-bottom: 1.2rem;
      }
    }

    &-graphics {
      width: 600px;
      height: 600px;
      background: url('/showcase-graphics.png') no-repeat;
      background-position: center right;
      background-size: contain;
    }
  }

  .explore {
    background: white;
    color: #010420;

    .container {
      position: relative;
      z-index: 2;

      &::after {
        position: absolute;
        top: -40px;
        right: 140px;
        width: 100px;
        height: 100px;
        content: '';
        background: url('/ball.png') no-repeat center/cover;
      }
      &::before {
        position: absolute;
        bottom: -120px;
        left: -80px;
        width: 200px;
        height: 200px;
        content: '';
        background: url('/ball.png') no-repeat center/cover;
        filter: blur(6px);
        opacity: 0.7;
        z-index: 1;
      }
    }
  }

  .motus {
    position: relative;
    background: #f3f4ff;
    color: $dark-blue;
    padding: 10rem 0;

    &-item {
      margin-top: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      font-size: 12px;
      z-index: 2;

      &-point {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        background-color: $primary;
      }

      &-reverse {
        flex-direction: column-reverse;

        &-text {
          transform: translateY(calc(-100% - 100px - 20px));
        }
      }
    }
  }

  .ecosystem {
    background: linear-gradient(to right, #bc1a8a, $dark-purple);
    z-index: 2;
    position: relative;
  }
}
