.tree {
  &-list {
    position: relative;

    &::after {
      position: absolute;
      width: 2px;
      height: 100%;
      background: $purple;
      left: calc(50% - 2px);
      top: 0;
      content: '';
    }

    &-item-left {
      display: block;
      margin-bottom: 2rem;
      position: relative;
      width: 50%;
      padding-right: 50px;

      &::after {
        position: absolute;
        height: 2px;
        width: 30px;
        background: $purple;
        top: calc(50% - 2px);
        right: 1px;
        content: '';
      }
    }

    &-item-right {
      @extend .tree-list-item-left;

      margin-left: auto;
      padding-right: 0px;
      padding-left: 50px;

      &::after {
        left: -1px;
      }
    }
  }
}

.tree-right {
  &-list {
    position: relative;

    &::after {
      position: absolute;
      width: 2px;
      height: calc(100% - 24px);
      background: $dark-purple;
      left: 0;
      top: 0;
      content: '';
    }

    &-item {
      display: block;
      margin-bottom: 2rem;
      position: relative;
      width: 100%;
      padding-left: 50px;

      &::after {
        position: absolute;
        height: 2px;
        width: 30px;
        background: $dark-purple;
        top: calc(50% - 2px);
        left: 0px;
        content: '';
      }
    }
  }
}

.tree-bullet {
  &-list {
    position: relative;

    &::after {
      position: absolute;
      width: 2px;
      height: 100%;
      background: rgba($color: $purple, $alpha: 0.3);
      left: calc(50% - 2px);
      top: 0;
      z-index: 1;
      content: '';
    }

    &-item-left {
      display: block;
      margin-bottom: 2rem;
      position: relative;
      width: 50%;
      padding-right: 25px;

      &::after {
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: $purple;
        top: calc(50% - 2px);
        right: -6.5px;
        z-index: 2;
        content: '';
      }
    }

    &-item-right {
      @extend .tree-bullet-list-item-left;

      margin-left: auto;
      padding-right: 0px;
      padding-left: 50px;

      &::after {
        left: -8.5px;
      }
    }
  }
}

.tree-wave {
  background: url('/wave.png') no-repeat center;
  background-size: auto 90%;
  padding-top: 50px;

  &-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 50%;
    margin-bottom: 1rem;
    margin-left: auto;
    padding-left: 2rem;

    &-number {
      background: white;
      color: $dark-purple;
      border-radius: 50%;
      min-width: 30px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      max-width: 250px;
    }

    &-left {
      @extend .tree-wave-item;

      flex-direction: row-reverse;
      padding-left: 0;
      padding-right: 2rem;
      margin-left: unset;

      &-text {
        @extend .tree-wave-item-text;

        text-align: right;
      }
    }
  }
}
