.tree {
  &-list {
    position: relative;

    &::after {
      position: absolute;
      width: 2px;
      height: 100%;
      background: $purple;
      left: calc(50% - 2px);
      top: 0;
      content: '';
    }

    &-item-left {
      display: block;
      margin-bottom: 2rem;
      position: relative;
      width: 50%;
      padding-right: 50px;

      &::after {
        position: absolute;
        height: 2px;
        width: 30px;
        background: $purple;
        top: calc(50% - 2px);
        right: 1px;
        content: '';
      }
    }

    &-item-right {
      @extend .tree-list-item-left;

      margin-left: auto;
      padding-right: 0px;
      padding-left: 50px;

      &::after {
        left: -1px;
      }
    }
  }
}

.tree-right {
  &-list {
    position: relative;

    &::after {
      position: absolute;
      width: 2px;
      height: calc(100% - 12px);
      background: $dark-purple;
      left: 0;
      top: 0;
      content: '';
    }

    &-item {
      display: block;
      margin-bottom: 2rem;
      position: relative;
      width: 100%;
      padding-left: 50px;

      &::after {
        position: absolute;
        height: 2px;
        width: 30px;
        background: $dark-purple;
        top: calc(50% - 2px);
        left: 0px;
        content: '';
      }
    }
  }
}

.tree-bullet {
  &-list {
    position: relative;

    &::after {
      position: absolute;
      width: 2px;
      height: 100%;
      background: rgba($color: $purple, $alpha: 0.3);
      left: calc(50% - 2px);
      top: 0;
      z-index: 1;
      content: '';
    }

    &-item-left {
      display: block;
      margin-bottom: 2rem;
      position: relative;
      width: 50%;
      padding-right: 25px;

      &::after {
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: $purple;
        top: calc(50% - 2px);
        right: -6.5px;
        z-index: 2;
        content: '';
      }
    }

    &-item-right {
      @extend .tree-bullet-list-item-left;

      margin-left: auto;
      padding-right: 0px;
      padding-left: 50px;

      &::after {
        left: -8.5px;
      }
    }
  }
}
