.pt-10 {
  padding-top: 6rem;
}

.pt-15 {
  padding-top: 12rem;
}

.py-15 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.mt-10 {
  margin-top: 6rem;
}

.mt-15 {
  margin-top: 12rem;
}

.my-15 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mt-30 {
  margin-top: 15rem;
}
