@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import 'bootstrap-custom';
@import '_spacings';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Open Sans' !important;
  background-image: url('/background/bg.png');
  color: #fff !important;

}

a {
  text-decoration: none;
  color: #fff !important;
}

.app {
  height: 4000px;
}

* {
  box-sizing: border-box;
}

.first-shapes {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 70vh;
  background-size: cover;
}

header {
  position: relative;
  z-index: 2;
  text-align: center;
  #navbar {
    padding: 1.5rem 0;
  }

  .nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.texts {
  max-width: 630px;
  overflow: hidden;
}

.card-holder {
  border-radius: 50px;
  height: 400px;

  &.bg-card {
    background-color: #0e001c;
  }
}

.rsu {
  position: relative;
  z-index: 12;
  .row {
    .col-md-3:not(:last-child) {
      border-right: 3px solid #b1afff;
    }
  }

  .img-hw {
    position: absolute;
    right: -10%;
    bottom: 20%;
    width: 70%;
    min-width: 200px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .img-corner {
    top: -40px;
    left: 0;
    position: absolute;
  }
}

.cards {
  z-index: 20;
}
.slider {
  height: 530px;

  .picture {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 62%;
  }
  .content {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    width: 38%;
  }
}
.slider {
  position: relative;
  z-index: 13;
}

.use-cases {
  position: relative;
  z-index: 52;

  .card-holder {
    height: auto;
    .card {
      height: 200px;
      background-color: #000;
      border-radius: 70px;
    }
  }
  .usecase-text {
    font-size: 99px;
    line-height: 87px;
    font-weight: 700;

    @include media-breakpoint-down(xl) {
      font-size: 50px;
    }
  }
}

.currency {
  z-index: 21;

  .top-left {
    position: absolute;
    top: -50px;
    left: -30px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .top-right {
    position: absolute;
    top: -50px;
    right: -30px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .bottom-right {
    position: absolute;
    bottom: -50px;
    right: -30px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.shape-3d {
  position: absolute;
  left: -7%;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  &.right {
    right: -12%;
    top: 35%;
    left: auto;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.rsu-app-bg {
  position: absolute;
  width: 99.5vw !important;
  max-width: 100vw !important;
  top: -30%;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: url('/background/rsu-app.png');
  background-size: cover;
  height: 170%;
  z-index: 11;
  background-repeat: no-repeat;
}

.rsu-app-bg-2 {
  position: absolute;
  width: 99.5vw !important;
  max-width: 100vw !important;
  top: -35%;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: url('/background/glow2.png');
  background-size: cover;
  height: 4000px;
  z-index: 10;
  background-repeat: no-repeat;
}

/// TEXTS ///
.text-purple {
  color: #b2b0ff;
  font-size: 18px;
  font-size: 500;
}
.text-highlight {
  font-size: 66.4px;
  line-height: 60px;
  font-weight: 700;
  @include media-breakpoint-down(md) {
    font-size: 35px;
  }
}

.text-title {
  font-size: 43px;
  font-weight: 700;
  @include media-breakpoint-down(md) {
    font-size: 35px;
  }
}

.card-title {
  font-size: 25px;
  font-weight: bold;
}

.card-p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #ae9fbb;
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}

.rsu-p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ae9fbb;
}

.rsu-title {
  font-size: 26px;
  font-weight: 700;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}
.rsu-highlight {
  font-size: 70.3px;
  line-height: 70.93px;
  font-weight: 700;
  
}

.content-title {
  font-size: 36px;
  line-height: 40px;
  color: #000;
  font-weight: 700;
  overflow: hidden;
}
.content-p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  overflow: auto;
}

//////////// SIZING ///////////
.mw-900 {
  max-width: 900px;
}

.mw-80 {
  max-width: 80%;
}

.mt-20 {
  margin-top: 20%;
}
.mt-30 {
  margin-top: 30%;
}
//////////--------------////////////

.cursor-pointer {
  cursor: pointer;
}

.dots {
  width: 100px;
  position: relative;
  z-index: 20;
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    &.active {
      transform: scale(1.5);
      background-color: #b2b0ff;
    }
  }
}

.ellips {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 600;
  color: #ae9fbb;
}
