.waves1 {
  position: absolute;
  top: 0;
  max-width: 60%;
  left: 20%;
  right: 20%;
  min-height: 50vh;
  height: 80vh;
}
.shapes1 {
  position: absolute;
  top: -10%;
  left: 10%;
}
#navbar {
  padding: 1.5rem 0;
}
.nav-link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
