@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Open Sans' !important;
  background-image: url('/bg.png');
  color: #fff !important;
}

a {
  text-decoration: none;
  color: #fff !important;
}

* {
  box-sizing: border-box;
}
